<p>
  <%= label_tag :settings_notes_date_to_issue_list, l(:settings_notes_date_to_issue_list) %>
  <%= check_box_tag "settings[notes_date_to_issue_list]", true, @settings['notes_date_to_issue_list'] %>
</p>
<p>
  <%= label_tag :settings_add_br_for_list, l(:settings_add_br_for_list) %>
  <%= check_box_tag "settings[add_br_for_list]", true, @settings['add_br_for_list'] %>
</p>
